@use '../themes/mixins';
@use '../themes/colors';
@use 'sass:map';

.builder-delete {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: mixins.themed('button-background');
    transition: all .1s ease-in-out;

    & > svg {
        color: mixins.themed('primary');
        height: 2.5rem;
        width: 2.5rem;
    }

    &.active {
        background-color: mixins.themed('secondary');
        transform: scale(1.1, 1.1);
    }
}

.builder-zoom {
    position: absolute;
    top: 0;
    height: 2rem;
    margin: 1rem;
    border-radius: .3rem;

    text-align: center;
    line-height: 2rem;
    padding: 0 .5rem;
    background-color: mixins.themed('primary');
    color: mixins.themed('text');
}

.builder-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.builder-button {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    padding: 0 .5rem;
    border-radius: .3rem;
    cursor: pointer;

    background-color: mixins.themed('button-background');
    color: mixins.themed('primary');
    transition: all .1s ease-in-out;

    &.active {
        background-color: mixins.themed('secondary');
        color: mixins.themed('primary');
        transform: scale(1.1, 1.1);
    }
}