@use 'menu/application';
@use 'menu/page';
@use 'menu/button';
@use 'menu/builder';
@use 'menu/form';
@use 'menu/tutorial';
@use 'themes/fonts';
@use 'menu/elements';

@use 'themes/mixins';
@use 'themes/colors';
@use 'sass:map';

.application {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: background .2s ease-in-out;
}

.no-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}